*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    background-color: black;
    padding: 20px 20px;
    color: wheat;
    justify-content: space-between;
    align-items: center;
}

nav, ul{
    display: flex;
    flex-direction: row;
}

ul{
    overflow: hidden;
    transition: 1s;
}

li{
    list-style: none;
    padding: 0 20px;
}

button{
    background-color: transparent;
    border: none;
    color: wheat;
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

li:hover, h1:hover, button:hover{
    cursor: pointer;
    opacity: 0.7;
    background-color: gray;
}

button:focus ~ ul{
    height: 180px;
}

@media (max-width: 700px){
    nav, ul{
        flex-direction: column;
    }

    ul{
        height: 0;
    }

    li{
        padding: 10px;
        text-align: center;
    }

    button{
        display: flex;
    }
}